streamlit
langchain
langgraph
langchain_community
langchain_core
langchain_groq
faiss-cpu
tiktoken
pypdf
langchain_huggingface
huggingface
bs4
numpy<2
opencv-python
dotenv
langchain-google-genai
ragas
datasets
cohere
langsmith
pandas
boto3
langchain_aws
langchain-google-vertexai